/************************
Seletor Universal */
* {

}

/**********************
Seletor de texto */

h1{
	color: green;
}

/**********************
Seletor de classe */
.verde {
	color: green;
}

p.green {
	color: green;
}

/**********************
Seletor de ID */

#cabecalho {
	border: 1px solid blue;
}

/**********************
Seletor de filho */

li>a {
	color: red;
	text-decoration: none;
}

/**********************
Seletor de Descendente */

p a {
	color: green;
}

/**********************
Seletor de Irmao Adjacente */

h1+p {
	color: red;
}

/**********************
Seletor de Irmao Geral */

h1~p {
	color: pink;
}